In [1]:
data = []
while True:
    entry = input("Enter name, age, height (or press enter to stop): ")
    if not entry:
        break
    data.append(tuple(entry.split(",")))

sorted_data = sorted(data, key=lambda x: (x[0], int(x[1]), int(x[2])))
print(sorted_data)

Enter name, age, height (or press enter to stop): Mihir, 20, 180
Enter name, age, height (or press enter to stop):
[('Mihir', ' 20', ' 180')]

In [2]:
from collections import defaultdict

text = input("Enter text: ")
words = text.split()
freq_dict = defaultdict(int)

for word in words:
    freq_dict[word] += 1

print(dict(freq_dict))

Enter text: mihir
{'mihir': 1}

In [3]:
students = {
    'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya',
    'UE183004': 'Rahul', 'UE183005': 'Simran', 'UE183006': 'Neha',
    'UE183007': 'Arjun', 'UE183008': 'Priya', 'UE183009': 'Kabir', 'UE183010': 'Maya'
}

marks = [
    ('UE183001', 'CS', 94), ('UE183002', 'CS', 64), ('UE183001', 'RV', 94),
    ('UE183002', 'CS', 74), ('UE183003', 'CS', 64), ('UE183004', 'RV', 85),
    ('UE183005', 'CS', 90), ('UE183006', 'CS', 78), ('UE183007', 'RV', 82),
    ('UE183008', 'CS', 88), ('UE183009', 'RV', 91), ('UE183010', 'CS', 77)
]

total_marks = defaultdict(int)

for sid, subject, mark in marks:
    total_marks[sid] += mark

for sid, name in students.items():
    print(f"{name}: {total_marks[sid]}")

Avish: 188
Bhavya: 138
Tanya: 64
Rahul: 85
Simran: 90
Neha: 78
Arjun: 82
Priya: 88
Kabir: 91
Maya: 77

In [5]:
def convert_date(date_str):
    month_map = {
        'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
        'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'
    }
    day, month, year = date_str.split("-")
    year = "19" + year if int(year) > 30 else "20" + year
    return (year, month_map[month], day)

date_input = input("Enter date (dd-MM-yy): ")
print(convert_date(date_input))

Enter date (dd-MM-yy): 12-12-09

KeyError: '12'

In [6]:
dice_sums = {}

for d1 in range(1, 7):
    for d2 in range(1, 7):
        total = d1 + d2
        if total not in dice_sums:
            dice_sums[total] = []
        dice_sums[total].append((d1, d2))

for total, pairs in dice_sums.items():
    print(f"Sum {total}: {len(pairs)} combinations → {pairs}")

Sum 2: 1 combinations → [(1, 1)]
Sum 3: 2 combinations → [(1, 2), (2, 1)]
Sum 4: 3 combinations → [(1, 3), (2, 2), (3, 1)]
Sum 5: 4 combinations → [(1, 4), (2, 3), (3, 2), (4, 1)]
Sum 6: 5 combinations → [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]
Sum 7: 6 combinations → [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]
Sum 8: 5 combinations → [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]
Sum 9: 4 combinations → [(3, 6), (4, 5), (5, 4), (6, 3)]
Sum 10: 3 combinations → [(4, 6), (5, 5), (6, 4)]
Sum 11: 2 combinations → [(5, 6), (6, 5)]
Sum 12: 1 combinations → [(6, 6)]